hr {
  position: relative;
  width: 100vh;
}
.cart-section-text {
  color: rgba(241, 107, 12, 0.952);
  text-shadow: 0 0.3rem 0.3rem rgba(76, 75, 75, 0.452);
  margin: 0.5rem 0 5rem 0;
  font-style: normal;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn {
  margin: 1.5rem;
  background-color: rgba(51, 25, 122, 0.836);
  border-color: transparent;
}

.btn:hover {
  background-color: rgba(241, 107, 12, 0.952);
  border-color: transparent;
}

.btn-primary {
  margin-top: 3rem;
  border-color: transparent;
  border-radius: 1.8rem;
}

.remove-bg {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
.delete-icon-btn {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0;
}

.delete-icon {
  position: relative;
  height: 80%;
}
.final-buttons {
  position: relative;
  display: flex;
  top: 3vh;
  justify-content: center;
  align-items: center;
}

.total {
  color: rgba(241, 107, 12, 0.952);
  font-style: normal;
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.message {
  color: rgba(80, 76, 73, 0.952);
  font-style: normal;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5rem;
}
.message-card {
  border: none;
  padding: 2.5rem;
}
