.cart-icon {
  height: 6.3rem;
  width: 6rem;
  margin: 1rem 1rem 0 1rem;
}
.cart-widget {
  position: relative;
}
.cart-number {
  position: absolute;
  left: 45%;
  top: 5%;
  color: rgba(51, 25, 122, 0.836);
  font-weight: bold;
}
