.card-body {
  max-width: 30rem;
  position: relative;
  padding: 0;
  margin: 0 0 0 0;
}
.item-product {
  width: 20rem;
  display: inline-block;
  margin: 1.8rem;
}
.item-pictures {
  width: 20rem;
  height: 16rem;
  margin-top: 1rem;
}
.product-names {
  color: rgba(54, 53, 53, 0.801);
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  align-items: center;
  font-size: 1rem;

}

.btn {
  background-color: rgba(51, 25, 122, 0.836);
  border-color: transparent;
}

.btn:hover {
  background-color: rgba(241, 107, 12, 0.952);
  border-color: transparent;
}

.btn-primary {
  margin: 0;
  border-color: transparent;
  border-radius: 1.8rem;
  font-family: Arial, sans-serif;
}
