.navbar {
  display: flex;
  height: fit-content;
  background-color: transparent;
  margin-top: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.remove-bg {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.nav-link{
  display: flex;
  justify-content: space-between;
  font-family:fantasy;
  font-weight: 200;
  color: rgba(74, 24, 121, 0.911);
  
}

.nav-item :hover {
  color: rgba(248, 152, 7, 0.849);
}

.navbar__logo {
  height: 5rem;
  width: 5rem;
  margin: 1.5rem;
}
