.navbar {
  background-color: transparent;
  margin-top: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.remove-bg {
    filter: brightness(1.1);
    mix-blend-mode:multiply ;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  
}

.nav-item :hover {
  color: rgba(243, 153, 18, 0.822);
}

.navbar__logo {
  height: 12rem;
  width: 12rem;
  margin: 0.3rem;
}
